$defaultColor: #b35314;

.pathlight-logo {
    margin-left:40%;
    width: 20%;
}

img {
    max-width: 100%;
    max-width: 100%;
}

.card-body {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

